.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}


.font-1-xxl {
  font: 600 3rem/1.125 "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .font-1-xxl {
    font-size: 2.5rem;
  }
}